<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원결과</title>
</head>
<body>
<h2>검색 결과</h2>
<table border="1">
    <tr th:text="${msg}">
        <th>이메일</th>
        <th>이메일 찾기</th>
    </tr>
    <tr th:each="member : ${memberList}">
        <td name="email" th:text="${member.email}"></td>
        <td>
            <a th:href="@{/account/findEmail(seq=${member.seq})}"><input type="button" value="이메일 찾기"></a>
        </td>
    </tr>
</table>
</body>
</html>